scikit_image>=0.16.2
SQLAlchemy>=1.3.18
dash_table>=4.11.0
dash_bootstrap_components>=0.10.7
Pillow>=8.0.1
matplotlib>=3.2.2
scipy>=1.5.0
psycopg2-binary
opencv_contrib_python>=4.4.0.46
opencv-python-headless>=4.2.0.32
cement
certifi
chardet
click
colorama
Cython
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
dash-table-experiments
decorator
docutils
Flask
Flask-Compress
Flask-SeaSurf
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jmespath
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
pathspec
plotly
python-dateutil
pytz
PyYAML
requests
retrying
semantic-version
six
tabulate
termcolor
traitlets
urllib3
Werkzeug
wincertstore