.app-header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.sidebar-wrapper {
    background: url(/images/logj.jpg) no-repeat center;
    // an maybe the quotes are not necessary. Check if the path is correct ! background-size: cover;
    // change this to 'contain' if you want to test different modes -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.jumboclass {
    background: url(Images/portada_nignos.jpg) no-repeat center;
    background-size: 100%;
    background-position: center center;
    height: 250px;
    color: none;
    border: 0;
}

.correl_button {
    background: url(Images/correlation-one.png) no-repeat center;
    border: none;
    background-size: 100%;
    position: relative;
    height: 40px;
    width: 200px;
    margin: 35px 50px 35px;
}

.mintic_button {
    background: url(Images/mintic.png) no-repeat center;
    position: relative;
    background-size: 100%;
    border: none;
    height: 40px;
    width: 200px;
    margin: 35px 60px 35px;
}

.ploty_button {
    background: url(Images/logo-plotly.png) center;
    position: relative;
    background-size: 100%;
    background-position: center center;
    border: none;
    height: 40px;
    width: 200px;
    margin: 35px 50px 35px;
}

.company_button {
    background: url(Images/side_bar_logo3.png);
    position: center;
    background-size: 100%;
    background-position: center center;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 200px;
}

.metrics_button {
    position: center;
    background-size: 100%;
    background-position: center center;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome_jumbo {
    background:none;
}

.card-img-top {
    position: center;
    width: 100%;
    height: 17vh;
    object-fit: cover;
}

.center-text {
    text-align: center;
}

.radius_img {
    border-radius: 50%;
}

.linked_button {
    background: url(Images/linkedin_icon.png);
    position: center;
    background-size: 100%;
    background-position: center center;
    border: none;
    height: 40px;
    width: 40px;
    margin: 35px 75px 35px;
}

.email_button {
    background: url(Images/email_icon.png);
    position: center;
    background-size: 100%;
    background-position: center center;
    border: none;
    height: 40px;
    width: 40px;
    margin: 35px -50px 35px;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 100%;
}

.pretty_container {
    border-radius: 2px;
    background-color: none;
    position: relative;
    border:groove;
    color:#ffd800;
}