body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffe200
}

P {
    color: #ffe200;
    text-indent: 0px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}